
@import 'components/index';
@import 'base/index';
@import 'layout/index';

.logo {
  text-align: center;
}

.nav {
  width: 60%;
  @extend %center;
  margin-bottom: 50px;
  ul {
    @media only screen and (min-width: 825px) {
      display: flex;
      justify-content: space-around;
    }
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  li:hover {
    color: $neutral-light;
  }
  li {
    @media only screen and (max-width: 824px) {
      text-align: center;
    }

    @media only screen and (min-width: 825px) {
    display: inline;
    }
  }
}

.post {
  background-color: $neutral-light;
  opacity: .9;
  padding: 15px;
  width: 75%;
  @extend %center;
  margin-bottom: 50px;
  border-radius: 10px;
  .blog-title {
    margin: 0px;
  }
  .quote {
    padding-left: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border-left: 2px solid $color-med;
    font-style: italic;
  }
}
