* {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  color: $color-light;
}

h1 {
  font-family: 'Galada', cursive;
  font-size: 4em;
  color: $neutral-light;
}

h2 {
  font-family: 'Galada', cursive;
  font-size: 3em;
  color: $color-dark;
}

h3 {
  font-family: 'Galada', cursive;
  font-size: 2.5em;
  color: $color-dark;
}

h4 {
  font-family: 'Galada', cursive;
  font-size: 2em;
  color: $color-dark;
}

h5 {
  font-family: 'Galada', cursive;
  font-size: 1.5em;
  color: $color-dark;
}

h6 {
  font-family: 'Galada', cursive;
  font-size: 1em;
  color: $color-dark;
}

p {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  color: $color-med;
}

li {
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  color: $color-light;
}
