//Descriptive color variables
$white                  : white;
$granite                : #616163;
$richblack              : #080705;
$freshair               : #A5D8FF;
$cerulean               : #004777;
$spacecadet             : #2E2D4D;
$turquoise              : #44FFD2;


//Practical color variables
$neutral-light          : $white;
$neutral-med            : $granite;
$neutral-dark           : $richblack;
$color-light            : $freshair;
$color-med              : $cerulean;
$color-dark             : $spacecadet;
$bright                 : $turquoise;
